*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}
*::before{
  box-sizing: border-box;
}
*::after{
  box-sizing: border-box;
}
a{
  color: inherit;
}
ul,li{
  list-style: none;
}